<div class="about">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          Richard «Rick» Sánchez​ es uno de los dos protagonistas homónimos de
          la serie de televisión animada de Adult Swim, Rick y Morty. Creado por
          Justin Roiland y Dan Harmon, Sánchez es un científico alcohólico
          misántropo conocido por su comportamiento temerario, nihilista y su
          personalidad pesimista, el personaje ha sido bien recibido. Es un
          científico loco sociopático que parece conocer todo en el universo y
          por lo tanto encuentra la vida una experiencia traumática y sin
          sentido. Sin embargo, a pesar de asumir que es la persona más
          inteligente del universo, ha habido momentos en los que se ha
          equivocado. El desarrollo del personaje fue inspirado en Emmett «Doc»
          Brown de Back to the Future y por el Sr. Fantástico de Marvel Comics.
        </td>
      </tr>
    </thead>
  </table>
</div>
